@using EMMS.Lang;

<div id="footer" class="">
    <!-- To the right -->
    <!--
    作者：152645239@qq.com
    时间：2016-06-06
    描述：版权信息
    -->

    @BaseRes.COM_CTL_FOOTER 

    <!-- Default to the left -->
    @*<strong>Copyright &copy; 2016 <a href="http://www.bojoetech.com/" target="_blank">BJ</a>.</strong> All rights reserved.*@
</div>
 